body {
    background-color: white;
}

h1 {
    text-align: center;
    color: darkolivegreen;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a {
    font-family: cursive;
    color: chocolate;
    font-size: larger;
    text-decoration: none;
}
.para {
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: antiquewhite;
    border-radius: 10px;
    font-size: large;
}
.myimage {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
figcaption,figure {
    text-align: center;
    color: darkgreen;
    font-size: xx-large;
}
strong {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkred;
    font-weight: bolder;
}