body {
    background-color: white;
}

h1 {
    text-align: center;
    color: darkolivegreen;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: chocolate;
    font-size: larger;
}
.para {
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: antiquewhite;
    border-radius: 10px;
    font-size: large;
}
strong {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(49, 177, 228);
}
.logo {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
figcaption,figure {
    text-align: center;
    color: darkgreen;
    font-size: xx-large;
}